.delButton{
    border-radius: 90px;
    float:right;
    cursor: pointer;
    border:none;
    background-color: inherit;
    width:25px;
    height:25px;
    outline:none;
    display: none !important;
}

.delButton:hover{
    color: #00d9ff;
}


tr:hover .delButton{
    display: block !important;
}

.editable-add-btn {
    margin-bottom: 8px;
}

.ant-btn{
    margin-left: 20px;
}